<div class="album-grid">
    <h1 class="album-grid__title">
        <a href="/">{{ siteData.title }}</a>
    </h1>
    {# Don't show albums if we're in a hidden album #}
    {% for listAlbum in albums %}
        {# Don't list hidden albums #}
        {% if not listAlbum.albumHidden %}
            {# Set classes #}
            {% set newYear = lastAlbumYear != listAlbum.albumYear %}
            {% if newYear %}
                {% if not loop.first %}
                </ul>
            </div>
            <!-- /album-set -->
        {% endif %}
        <div class="album-grid__album-set">
            <h3 class="album-grid__album-year">{{ listAlbum.albumYear }}</h3>
            <ul class="album-grid__album-list">
            {% endif %}
            <li class="album-grid__album-item">
                {% set src = ["src/album-assets/", listAlbum.slug, '/', listAlbum.firstImage.fileName] | join %}
                {% set url = ["/albums/", listAlbum.slug ] | join %}
                <div class="album-grid__album-image-wrap">
                    <div class="album-grid__album-image">
                        {% image src, "", file.fileID, "thumb" %}
                    </div>
                </div>
                <div class="album-grid__album-text">
                    <a class="album-grid__album-title" href="{{ url }}">{{ listAlbum.albumName }}</a>
                    <p class="album-grid__album-date">{{ listAlbum.albumDate | formatDate() }}</p>
                </div>
            </li>
            {% set lastAlbumYear = listAlbum.albumYear %}
        {% endif %}
    {% endfor %}
</ul></div><!-- /album-set --></div>