<div class="sidebar sidebar--{{ albumView }}">
  <h1 class="sidebar__title">
    <a href="/">{{ siteData.title }}</a>
  </h1>

  {# Don't show albums if we're in a hidden album #}
  {% if album.albumHidden %}
    <p class="sidebar__hidden-note">This is a hidden album.</p>
    <p class="sidebar__hidden-note">See the <a href="{{ siteData.url }}">home page</a> for public albums.</p>
  {% else  %}

    {% for listAlbum in albums %}
      {# Don't list hidden albums #}
      {% if not listAlbum.albumHidden %}

        {# Set classes #}
        {% set newYear = lastAlbumYear != listAlbum.albumYear %}
        {% set itemClass = 'sidebar__album-item' %}
        {% if listAlbum.slug == album.slug  %}
          {% set itemClass = 'sidebar__album-item sidebar__album-item--active' %}
        {% endif %}

        {% if newYear %}
          {% if not loop.first %}
            </ul>
          {% endif %}
          <h3 class="sidebar__album-year">{{ listAlbum.albumYear }}</h3>
          <ul class="sidebar__album-list">
        {% endif %}

        <li class="{{ itemClass }}">
          <a class="sidebar__album-title" href="{{ url }}">{{ listAlbum.albumName }}</a>
          {% if listAlbum.firstImage and albumView == 'grid' %}
          {% set src = ["src/album-assets/", listAlbum.slug, '/', listAlbum.firstImage.fileName] | join %}
          {% set url = ["/albums/", listAlbum.slug ] | join%}
          <div class="sidebar__album-image">
            <a href="{{ url }}">
            {% image src, "", file.fileID %}
            </a>
          </div>
          {% endif %}

        </li>

        {% set lastAlbumYear = listAlbum.albumYear %}

      {% endif %}
    {% endfor %}
    </ul>

  {% endif %}
</div>
