<div class="sidebar">
  <h1 class="sidebar__title">
    <a href="/">{{ siteData.title }}</a>
  </h1>


  {% for listAlbum in albums %}
    {# Set classes #}
    {% set newYear = lastAlbumYear != listAlbum.albumYear %}
    {% set itemClass = 'sidebar__album-item' %}
    {% if listAlbum.slug == album.slug  %}
      {% set itemClass = 'sidebar__album-item sidebar__album-item--active' %}
    {% endif %}

    {% if newYear %}
      {% if not loop.first %}
        </ul>
      {% endif %}
      <h3 class="sidebar__album-year">{{ listAlbum.albumYear }}</h3>
      <ul class="sidebar__album-list">
    {% endif %}

    <li class="{{ itemClass }}"><a href="/albums/{{ listAlbum.slug }}">{{ listAlbum.albumName }}</a></li>

    {% set lastAlbumYear = listAlbum.albumYear %}

  {% endfor %}
  </ul>
</div>
