<!doctype html>
<html lang="en">
  <head>

    {% set pageTitle = siteData.title %}
    {% set pageUrl = siteData.url ~ page.url %}


    {% if album %}
      {% set pageTitle = album.albumName ~ ' – ' ~ siteData.title %}
    {% set publishedDate = album.albumDate %}

    {% endif %}

    <title>{{ pageTitle }}</title>

    {# Standard meta tags #}
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="robots" content="{{ siteData.robots }}" />
    <meta name="author" content="{{ siteData.author }}">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="{{ siteData.description }}">

    {# OG #}
    <meta property="og:description" content="{{ siteData.description }}" />
    <meta property="og:site_name" content="{{ siteData.title }}" />
    <meta property="og:title" content="{{ pageTitle }}" />
    <meta property="og:url" content="{{ pageUrl }}" />

    {# Og image tag #}
    {% if album and album.firstImage %}
      {% set src = ["src/album-assets/", album.slug, '/', album.firstImage.fileName] | join %}
      {% ogImage src, siteData.url %}

      <meta property="date_published" content="{{ album.albumDate }}" />
      <meta property="og:updated_time" content="{{ album.albumDate }}" />

    {% else %}
      <meta property="date_published" content="{% getBuildDate %}" />
      <meta property="og:updated_time" content="{% getBuildDate %}" />
    {% endif %}

    {# Link tags #}
    <link rel="canonical" href="{{ pageUrl }}"/>
    <link rel="stylesheet" href="/css/site.css" />


  </head>
  <body data-theme="{{ siteData.theme }}">
    
    {{ content | safe }}
    <script src="/js/scripts.js"></script>
  </body>
</html>
