---
layout: layouts/default.njk
pagination:
    data: albums
    size: 1
    alias: album
permalink: "albums/{{ album.slug }}/"
---


<div class="album">

    <aside class="album__aside">
        {# <p class="album__back"><a href="/">{{ siteData.name }}</a></p> #}
        
        {# <h1>{{ album.name }}</h1> #}

        <ul class="album__album-list">
        {% for listAlbum in albums %}
            {% set itemClass = 'albums__album-item' %}
            {% if listAlbum.slug == album.slug  %}
              {% set itemClass = 'albums__album-item albums__album-item--active' %}
            {% endif %}
            <li class="{{ itemClass }}"><a href="/albums/{{ listAlbum.slug }}">{{ listAlbum.name }}</a></li>
        {% endfor %}
        </ul>
    </aside>


<main class="album__main">

    {% for file in album.files %}

        {% set src = ["src/album-assets/", album.slug, '/', file.name] | join %}

        {# Text #}
        {% if file.fileType == 'text' %}
        <div class="album__block album__block--text">
            <h3 class="album__head">{{ file.textHeading }}</h4>
            {% if file.textContents %}
                <p class="album__subhead">{{ file.textContents }} </p>
            {% endif %}
        </div>
        {% endif %}

        {# Image #}
        {% if file.fileType== 'image' %}
            {% image src, "Alt text" %}
        {% endif %}

        {# Video #}
        {% if file.fileType == 'video' %}
        <div class="album__block album__block--video">
            {% set videoOutputUrl = ["/video/", file.name] | join %}
            <video autoplay loop muted playsinline>
                <source src="{{ videoOutputUrl }}" />
            </video>
        </div>
        {% endif %}


    {% endfor %}
</main>


</div>
