.album-grid__title  {
  font-size: var(--f-size);
  font-weight: normal;
  margin: -4px 0 1em;
}

.album-grid__album-set {
  margin-top: 2.75em;
}

.album-grid__album-year {
  padding-top: 0.5em;
  padding-bottom: 0.5em;
  padding-right: 2em;
  line-height: 1;
  font-weight: 400;
}

.album-grid__album-year {
  color: var(--c-accent);
  display: block;
  font-size: var(--f-size);
  padding-top: 2em;
  position: relative;
  padding-right: 1em;
}

.album-grid__album-list {
  font-size: var(--f-size);
  list-style: none;
  margin: 0;
  padding: 0;
}

.album-grid__album-item {
  display: block;
  width: 100%;
  position: relative;
}

a.album-grid__album-title  {
  color: var(--c-text);
  display: block;
}

/* Extend clickable area */
a.album-grid__album-title::before  {
    content: '';
    display: block;
    left: 0;    
    height: 100%;
    top: 0;
    position: absolute;
    width: 100%;
    z-index: 99;
}

a.album-grid__album-title:hover {
  color: var(--c-link);
}

.album-grid__album-item--active a.album-grid__album-title {
  color: var(--c-link);
}

.album-grid__hidden-note {
  color: var(--c-gray);
  font-size: 80%;
  padding-right: 2em;
}

.album-grid__album-list {
  display: grid;
  grid-gap: var(--site-padding);
  grid-template-columns: repeat(2, 1fr);
  text-indent: 0;
}

/* Item */
.album-grid__album-item {
    aspect-ratio: 1;
    position: relative;
    overflow: hidden;
}

.album-grid__album-item::before {
  background-color: var(--c-asset-bg);
  border-radius: 10px;
  content: '';
  display: block;
  height: 100%;
  left: 0;
  position: absolute;
  pointer-events: none;
  top: 0;
  width: 100%;
  z-index: 1;
}  


.album-grid__album-text {
  align-items: flex-end;
  bottom: 0;
  display: flex;
  gap: 5px;
  height: 100%;
  justify-content: space-between;
  padding: 8px 12px;
  position: absolute;
  width: 100%;
  z-index: 3;
}

.album-grid__album-title-date,
.album-grid__album-count {
  color: var(--c-gray);
  font-size: var(--f-size-sm);
  margin: 0;
  overflow: hidden;
  text-overflow: ellipsis;
}

.album-grid__album-date {
  text-align: left;
  margin: 0;
  transition: color 0.5s ease;
  width: 80%;
}

.album-grid__album-title,
.album-grid__album-date {
  line-height: 1.2;
  margin: 0;
}

.album-grid__album-count {
  display: block;
  text-align: right;
  white-space: nowrap;
  width: 20%;
}

.album-grid__album-image {
  height: 100%;
  opacity: 0.8;
  position: relative;
  transition: opacity 0.5s ease;
  width: 100%;
  will-change: opacity;
}

.album-grid__album-image .album__block {
  align-items: center;
  background-color: transparent;
  display: flex;
  position: absolute;
  inset: 45px; 
  justify-content: center;
  margin: 0;
  z-index: 2;
}
    
.album-grid__album-image img {
  border-radius: 5px;
  height: auto;
  max-width: 100%;
  max-height: 100%;
  width: auto;
}


.album-grid__album-item:hover .album-grid__album-image,
.album-grid__album-item:focus .album-grid__album-image {
  opacity: 1;
}


.album-grid__album-item:hover .album-grid__album-date,
.album-grid__album-item:focus .album-grid__album-date {
  color: var(--c-text);
}


 @media (min-width: 600px) {
 
  .album-grid__album-set {
    align-items: start;
    gap: var(--site-padding);
    display: grid;
    grid-template-columns: repeat(3, 1fr);
  }
  
  .album-grid__album-year {
    padding-bottom: 3em;
    padding-top: 0;
    position: sticky;
    top: var(--site-padding);
  }

  .album-grid__album-list {
    gap: var(--site-padding);
    display: grid;
    grid-template-columns: subgrid;
    grid-column: span 2;
  }
}

@media (min-width: 800px) {
  .album-grid__album-set {
    grid-template-columns: repeat(4, 1fr);
  }
  .album-grid__album-list {
    grid-column: span 3;
  }
}


@media (min-width: 1200px) {
  .album-grid__album-set {
      grid-template-columns: repeat(6, 1fr);
  }
  .album-grid__album-list {
    grid-column: span 5;
  }
}


@media (min-width: 1800px) {
  .album-grid__album-set {
      grid-template-columns: repeat(8, 1fr);
  }
  .album-grid__album-list {
    grid-column: span 6;
  }
}