.album {
  margin: var(--site-padding);
}

.album__block {
  clear: both;
}

.album__main {
  display: grid;
  grid-column-gap: var(--site-padding);
  grid-template-columns: repeat(2, 1fr);
}

.album__head {
  color: var(--c-text-color);
  line-height: 1.2;
}


.album__subhead,
.album__text-date {
  color: var(--c-gray);
}

.album__subhead {
  margin: 2px 0 0;
}

.album__block {
  margin-bottom: var(--site-padding);
}

.album__block:not(.album__block--image-portrait) {
  grid-column: 1 / 3;
}

.album__block--text {
  align-items: baseline;
  display: flex;
  justify-content: space-between;
  padding-top: 3.375em;
  margin-bottom: 0;
}


.album__block--image {
  background-color: var(--c-asset-bg);
}




@media (min-width: 800px) {
  .album__text-date {
    text-align: right;
  }
}

a.album__text-date-link {
  color: var(--c-gray);
}

a.album__text-date-link:hover {
  color: var(--c-link);
}

@media (min-width: 800px) {
  a.album__text-date-link::before {
    display: inline;
    content: '→ ';
    opacity: 0;
  }

  a.album__text-date-link:hover::before {
    opacity: 1;
  }
}


.album__video-toggle {
  appearance: none;
  background-color: transparent;
  border: 0;
  color: var(--c-gray);
  cursor: pointer;
  display: block;
  font-size: 11px;
  font-weight: bold;
  margin: var(--site-padding) 0 24px 0;
  padding: 2px 0;
  text-transform: uppercase;
}

.album__video-toggle:hover {
  color: var(--c-link);
}

@media (min-width: 800px) {
  .album {
    align-items: stretch;
    display: flex;
    justify-content: space-between;
  }

  .album__aside {
    height: 100%;
    position: fixed;
    padding: var(--site-padding) 0;
    top: 0;
    display: flex;
    flex-direction: column;
    width: 20%;
  }

  .album__main {
    margin-left: 20%;
    width: 85%;
  }
}

@media (min-width: 1200px) {
  .album__main {
    margin-left: 20%;
    margin-right: 10%;
    width: 70%;
  }
}