

.album-grid__album-set {
  margin-top: 2.75em;
}


.album-grid__album-year {
  padding-top: 0.5em;
  padding-bottom: 0.5em;
  padding-right: 2em;
  line-height: 1;
  font-weight: 400;
}

.album-grid__album-year {
  color: var(--c-accent);
  display: block;
  font-size: var(--f-size);
  padding-top: 2em;
  position: relative;
  padding-right: 1em;
}

.album-grid__album-list {
  font-size: var(--f-size);
  list-style: none;
  margin: 0;
  padding: 0;
}

.album-grid__album-item {
  display: block;
  width: 100%;
  position: relative;
}

a.album-grid__album-title  {
  color: var(--c-gray);
  display: block;
}

/* Extend clickable area */
a.album-grid__album-title::before  {
    content: '';
    display: block;
    left: 0;    
    height: 100%;
    top: 0;
    position: absolute;
    width: 100%;
    z-index: 99;
}

a.album-grid__album-title:hover {
  color: var(--c-link);
}

.album-grid__album-item--active a.album-grid__album-title {
  color: var(--c-link);
}

.album-grid__hidden-note {
  color: var(--c-gray);
  font-size: 80%;
  padding-right: 2em;
}

.album-grid__title {
    margin: -0.25em 0 0.5em;
}


.album-grid  {
  display: block;
}

.album-grid__album-list {
  display: grid;
  grid-gap: var(--site-padding);
  grid-template-columns: repeat(2, 1fr);
  text-indent: 0;
}


/* Item */
.album-grid__album-item {
    display: flex;
    flex-direction: column;
    gap: 4px;
    position: relative;
  }

.album-grid__album-item::before {
  background-color: var(--c-asset-bg);
  border-radius: 10px;
  content: '';
  display: block;
  height: 100%;
  left: 0;
  position: absolute;
  pointer-events: none;
  top: 0;
  width: 100%;
  z-index: 1;
}  


.album-grid__album-text {
  align-items: flex-end;
  bottom: 0;
  display: flex;
  gap: 5px;
  height: 100%;
  justify-content: space-between;
  padding: 8px 10px ;
  position: absolute;
  width: 100%;
  z-index: 3;
}

.album-grid__album-title,
.album-grid__album-date {
  color: var(--c-gray);
  display: -webkit-box;
  gap: 0.5em;
  font-size: var(--f-size-sm);
  margin: 0;
  overflow: hidden;
  text-overflow: ellipsis;
  width: 50%;
}

.album-grid__album-title {
  text-align: left;
}

.album-grid__album-date {
  display: block;
  text-align: right;
  white-space: nowrap;
}

.album-grid__album-image-wrap {
  aspect-ratio: 1 / 1;
  align-items: center;
  display: flex;
  justify-content: center;
}

.album-grid__album-image {
  align-items: center;
  display: flex;
  justify-content: center;
  height: 50%;
  opacity: 0.8;
  width: 50%;
  transition: opacity 0.5s ease;  
}

.album-grid__album-image .album__block {
  background-color: transparent;
  width: 100%;
  height: 100%;
  display: block;
  position: relative;
  overflow: hidden;
  margin: 0;
  z-index: 2;
}

.album-grid__album-image img {
  display: block;
  object-fit: contain;
  object-position: center;
  width: 100%;
  height: 100%;
}


.album-grid__album-item:hover .album-grid__album-image,
.album-grid__album-item:focus .album-grid__album-image {
  opacity: 1;
}

.album-grid__album-item:hover a.album-grid__album-title,
.album-grid__album-item:focus a.album-grid__album-title {
  color: var(--c-text);
}




 @media (min-width: 600px) {
  .album-grid__album-year {
      padding-bottom: 3em;
  }

  .album-grid__album-set {
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
  }

  .album-grid__album-year {
    flex-shrink: 0;
    padding-top: 0;
    position: sticky;
    top: var(--site-padding);
    width: 20%;
  }

  .album-grid__album-list {
    width: 80%;
    
  }
}

@media (min-width: 800px) {
  .album-grid__album-list {
    grid-template-columns: repeat(3, 1fr);
  }
.album-grid__album-image {
  width: 70%;
  height: 70%;
}


@media (min-width: 1200px) {
  .album-grid__album-list {
      grid-template-columns: repeat(4, 1fr);
  }
}


@media (min-width: 1800px) {
  .album-grid__album-list {
      grid-template-columns: repeat(6, 1fr);
  }
}