.album {
  margin: 8px;
}

.album__block {
  clear: both;
  margin: 0 0 8px;
}

.album__block--text {
  float: left;
  width: 100%;
}

.album__block--text:not(:first-child) {
  margin-top: 96px;
}

.album__head {
  color: white;
  font: normal 24px / 1.2 arial;
}

.album__subhead {
  color: gray;
  font: normal 24px / 1.2 arial;
  margin: 2px 0 0;
}

.album__block {
  display: block;
  margin-bottom: 8px;
}

@media (min-width: 800px) {
  .album {
    align-items: stretch;
    display: flex;
    justify-content: space-between;
  }
  .album__aside {
    height: 100%;
    position: fixed;
    padding: 8px 0;
    top: 0;
    display: flex;
    flex-direction: column;
    width: 25%;
  }
  .album__main {
    margin-left: 25%;
    width: 75%;
  }

  .album__block--image {
    background-color: #eaeaea;
  }

  .album__block--image-portrait {
    float: left;

    width: calc(50% - 4px);
  }
  .album__block--image-portrait
    + .album__block--image-portrait:nth-child(even) {
    clear: none;
    float: left;
    margin-left: 8px;
  }
}
