:root {
  --c-bg: #000;
  --c-text: #fff;
  --c-link: #fff;
  --c-asset-bg: rgba(255, 255, 255, 0.08);
  --c-border: rgba(255, 255, 255, 0.15);
  --c-gray: rgba(255, 255, 255, 0.375);
  --c-accent: #96A8C2;


  --f-base: 16px / 1.5 Arial, sans-serif;
  --f-size: clamp(0.875rem, 2vw, 1rem);
  --site-padding: 8px;
}

@media (min-width: 600px) {
  :root {
    --site-padding: 18px;
  }
}

/* Theming */
[data-theme="light"] {
  --c-bg: #eee;
  --c-gray: rgba(0, 0, 0, 0.3);
  --c-text: #000;
  --c-link: #000;
  --c-asset-bg: rgba(0, 0, 0, 0.08);
}
@media (prefers-color-scheme: light) {
  [data-theme="system"] {
  --c-bg: #eee;
  --c-gray: rgba(0, 0, 0, 0.3);
  --c-text: #000;
  --c-link: #000;
  --c-asset-bg: rgba(0, 0, 0, 0.08);
  }
}




/* https://developer.mozilla.org/en-US/docs/Web/Media/images/aspect_ratio_mapping */
img,
input[type="image"],
video,
embed,
iframe,
marquee,
object,
table {
  /* We'll override images' aspect-ratio with an inline style */
  aspect-ratio: attr(width) / attr(height); 
  display: block;
  max-width: 100%;
  width: 100%;
}

body {
  background-color: var(--c-bg);
  color: var(--c-text);
  font: var(--f-base);
  font-size: var(--f-size);
  margin: 0;
  padding: 0;
}

a,
a:link,
a:visited,
button {
  color: var(--c-link);
  text-decoration: none;
  transition: all 0.6s ease;
}
