.sidebar {
  align-items: flex-start;
  flex-direction: column;
  height: 100%;
  display: flex;
  justify-content: flex-start;
  overflow: auto;
}

.sidebar__title {
  margin: 2em 0 1em;
  font-weight: normal;
}

.sidebar__album-list {
  list-style: none;
  margin: 0;
  padding: 0;
}

.sidebar__album-list a {
  color: var(--c-gray);
  display: block;
  padding: 0;
}

.sidebar__album-list a:hover,
.sidebar__album-item--active a {
  color: var(--c-link);
}

@media (min-width: 800px) {
  .sidebar__title {
    margin: 0 0 2em;
  }

  .sidebar__album-list {
    margin-top: auto;
  }
}
