
.sidebar__title {
  font-size: var(--f-size);
  font-weight: normal;
  margin: 2em 0 1em;
}

.sidebar__album-year {
  color: var(--c-accent);
  display: block;
  font-size: var(--f-size);
  padding-top: 2em;
  position: relative;
  padding-right: 1em;
}

.sidebar__album-list {
  font-size: var(--f-size);
  list-style: none;
  margin: 0;
  padding: 0;
}

.sidebar__album-item {
  display: block;
  width: 100%;
}

a.sidebar__album-title  {
  color: var(--c-gray);
}

.sidebar--list .sidebar__album-year,
.sidebar--list a.sidebar__album-title {
  display: block;
}

.sidebar--list a.sidebar__album-title {
  padding: 5px 0;
  border-top: solid 1px var(--c-border);
}

.sidebar--list .sidebar__album-item:last-child a.sidebar__album-title {
  border-bottom: solid 1px var(--c-border);
}

a.sidebar__album-title:hover {
  color: var(--c-link);
}

.sidebar__album-item--active a.sidebar__album-title {
  color: var(--c-link);
}

.sidebar__hidden-note {
  color: var(--c-gray);
  font-size: 80%;
  padding-right: 2em;
}

@media (min-width: 800px) {
  .sidebar {
    align-items: flex-start;
    display: flex;
    flex-direction: column;
    height: 100%;
    justify-content: flex-start;
    margin-top: auto;
    overflow: auto;
  }

  .sidebar__title {
    margin: 0 0 0.5em;
  }

  
  .sidebar--list  a.sidebar__album-title {
    border: 0 !important;
    padding: 0;
  }

}

/* Grid variant (with thumbnails, for homepage) */
.sidebar--grid  {
  display: block;
}

.sidebar--grid .sidebar__title {
  margin-bottom: 4em;
}


.sidebar__album-image {
  opacity: 0.8;
  transition: opacity 0.5s ease;  
}

.sidebar--grid .sidebar__album-year {
  background: var(--c-bg);
  padding-top: 0.5em;
  padding-bottom: 3em;;
  padding-right: 2em;
  line-height: 1;
  font-weight: 400;
}


.sidebar__album-item:hover .sidebar__album-image,
.sidebar__album-item:focus .sidebar__album-image {
  opacity: 1;
}

.sidebar__album-item:hover a.sidebar__album-title,
.sidebar__album-item:focus a.sidebar__album-title {
  color: var(--c-text);
}


.sidebar--grid .sidebar__album-title {
  display: block;
}

.sidebar--grid .sidebar__album-list {
  display: grid;
  grid-column-gap: var(--site-padding);
  grid-row-gap: calc(2 * var(--site-padding));
  grid-template-columns: repeat(2, 1fr);
  margin-bottom: 6em;
  text-indent: 0;
}

.sidebar--grid .album__block--image {
  border-radius: 5px;
  margin-bottom: 0.5em;
  overflow: hidden;
}

.sidebar--grid .album__block--image img {
  object-fit: cover;
  width: 100%;
  height: 100%;
}

 @media (min-width: 600px) {

  .sidebar--grid .sidebar__album-set {
    display: flex;
  }

  .sidebar--grid .sidebar__album-year {
    width: 150px;
    flex-shrink: 0;
  }
  
}

@media (min-width: 900px) {
  .sidebar--grid .sidebar__album-list {
      grid-template-columns: repeat(4, 1fr);
  }
}


 @media (min-width: 1200px) {
  .sidebar--grid .sidebar__album-list {
      grid-template-columns: repeat(6, 1fr);
  }
} 