.sidebar {
  align-items: flex-start;
  display: flex;
  flex-direction: column;
  height: 100%;
  justify-content: flex-start;
  overflow: auto;
}

.sidebar__title {
  font-weight: normal;
  margin: 2em 0 1em;
}

.sidebar__album-year {
  color: var(--c-gray);
  font-weight: bold;
  margin-top: 2em;
  padding-bottom: 0.05em;
}

.sidebar__album-list {
  list-style: none;
  margin: 0;
  padding: 0;
}

.sidebar__album-list a {
  color: var(--c-gray);
  display: block;
  padding: 0;
}

.sidebar__album-list a:hover,
.sidebar__album-item--active a {
  color: var(--c-link);
}

.sidebar__hidden-note {
  color: var(--c-gray);
  font-size: 80%;
  padding-right: 2em;
}

@media (min-width: 800px) {
  .sidebar__title {
    margin: 0 0 3em;
  }

  .sidebar__album-list {
    margin-top: auto;
  }
}
