body {
  font: 18px / 1.5 arial, sans-serif;
  margin: 0;
  padding: 0;
}

a,
a:visited {
  color: blue;
  text-decoration: none;
}

/* https://developer.mozilla.org/en-US/docs/Web/Media/images/aspect_ratio_mapping */
img,
input[type="image"],
video,
embed,
iframe,
marquee,
object,
table {
  aspect-ratio: attr(width) / attr(height);
  display: block;
  max-width: 100%;
}

.album {
  margin: 8px;
}

@media (min-width: 800px) {
  .album {
    align-items: flex-start;
    display: flex;
    justify-content: space-between;
  }
  .album__aside {
    position: sticky;
    top: 40px;
    width: 25%;
  }
  .album__main {
    width: 75%;
  }
}

.album__album-list {
  list-style: none;
  margin: 0;
  padding: 0;
}

.album__album-list a {
  display: block;
  font: normal 24px / 1.2 arial;
  padding: 3px 0;
}

.albums__album-item--active a {
  color: black;
}

.album__block {
  clear: both;
  margin: 0 0 8px;
}

.album__block--text {
  float: left;
  width: 100%;
}

.album__block--text:not(:first-child) {
  margin-top: 96px;
}

@media (min-width: 800px) {
  .album__block--image-portrait {
    float: left;

    width: calc(50% - 4px);
  }
  .album__block--image-portrait
    + .album__block--image-portrait:nth-child(even) {
    clear: none;
    float: left;
    margin-left: 8px;
  }
}

.album__head {
  color: black;
  margin: 30px 0 0;
  font: normal 24px / 1.2 arial;
}

.album__subhead {
  color: gray;
  font: normal 24px / 1.2 arial;
  margin: 2px 0 0;
}

.album__block {
  display: block;
  margin-bottom: 8px;
}
