---
permalink: "feed.json"
---
{
  "version" : "https://jsonfeed.org/version/1",
  "title" : "{{ siteData.title }}",
  "home_page_url" : "{{ siteData.url }}",
  "feed_url" : "{{ siteData.title }}/feed.json",
  "description" : "{{ siteData.description }}",
  "author" : {
     "url" : "{{ siteData.url }}",
     "name" : "{{ siteData.author }}"
  },
    "items": [
    {% for album in albums %}
        {
            "id": "",
            "title": "{{ album.albumName }}",
            "date_published" : "{{ album.albumDate }}",
            "url": "{{ siteData.url }}/albums/{{album.slug}}",
            "content_html": "{% for file in album.files %}{% if file.fileType == 'image' %}<p>{% feedImage ["src/album-assets/", album.slug, '/', file.fileName] | join, siteData.url %}</p>{% endif %}{% if file.fileType == 'video' and file.fileBase %}<p><video autoplay loop muted playsinline><source src=\"{{ ["/video/", file.fileBase, ".mp4"] | join  }}\" /></video></p>{% endif %}{% endfor %}"
        }{% if not loop.last %},{% endif %}
    {% endfor %}
    ]
}
